/**
    1. this make the body to take full view port height of the screen regardless of the height of the elements in the body. 
    2. this changes the display of the div from block to flex, which helps us to easily center it both horizontally and vettically with `margin: auto` on the children
*/
body {
    background-color: white;
    height: 100vh; /* 1 */
    display: flex; /* 2 */
}


/**
    1. this change the width of the profile block from the default to 50%
    2. this centers the div itself by automatically calculating how much space is left in four directions. it depends on `display: flex;` on the parent item.
    3. This centers the elements in the div
*/
.profile {
    width: 50%; /* 1 */
    margin: auto; /* 2 */
    text-align: center; /* 3 */
}

/**
  this styles only affect the image found in the profile block
    1. this makes the image rounded
    
    Note: the image sizes (350px by 350px) is the same so we do not set width or height here. this guarantees perfect circle
*/
.profile img  {
  border-radius: 100%;
}



